<!DOCTYPE html>
<%- layout('template') -%>
    <h1>Edit Restaurant</h1>
    <form autocomplete="off" action="/restaurants/<%= restaurant._id %>?_method=PATCH" method="POST">
        <div>
            <label for="title">Title:</label><br>
            <input type="text" name="title" value=<%= restaurant.title %> id="title">
        </div>
        <div>
            <label for="location">Location:</label><br>
            <input type="text" name="location" value=<%= restaurant.location %> id="location">
        </div>
        <div>
            <label for="owner">Image: </label><br>
            <input type="text" name="image" id="image" value=<%= restaurant.image %>>
        </div>
        <div>
            <label for="description">Description: </label><br>
            <textarea name="description" id="description"><%= restaurant.description %></textarea>
        </div>
        <button class="button is-primary">Save Restaurant</button>
    </form>
